<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_CLIENT_ID</key>
	<string>664786675879-m5j8ur5hshk95armq011jfljacfeence.apps.googleusercontent.com</string>
	<key>CLIENT_ID</key>
	<string>664786675879-m5j8ur5hshk95armq011jfljacfeence.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664786675879-m5j8ur5hshk95armq011jfljacfeence</string>
	<key>API_KEY</key>
	<string>AIzaSyDyPBIrDsxB2yfxOXC180g63PgjJf5Wu04</string>
	<key>GCM_SENDER_ID</key>
	<string>664786675879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrawdah.meerath</string>
	<key>PROJECT_ID</key>
	<string>merath-alnabi-984b6</string>
	<key>STORAGE_BUCKET</key>
	<string>merath-alnabi-984b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:664786675879:ios:9230274ee727ecd9c31382</string>
</dict>
</plist>
